* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;

}

.title {
    padding: 40px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    transform: translate(-35px);

}
.title img {
    width: 35px;
    height: 35px;
    align-self: center;
    margin: 0 13px 0 20px;
}
.title h1 {
    font-size: 40px;
    align-self: center;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: rgb(243, 243, 243);
}
.inner-content {
    padding-top: 90px;
    padding-left: 120px;
    border: 1px solid black;
    font-size: 20px;
    
}

.inner-content h2, p{
    max-width: 400px;
}
.inner-content h2 {
    font-size: 40px;
}
.inner-content p {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 25px;
}
article {
    border-top: 3px solid rgb(184, 48, 48);
    max-width: 500px;
}

